@use "@/styles/variables" as v;
@use "sass:color";

.licao-card {
    background-color: v.$cor-secundaria-fundo;
    border-radius: 1.2rem;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease-out;
    max-width: 40rem;

    &__imagem {
        width: 100%;
        aspect-ratio: 14 / 16; //padrão 16/16
        background-color: v.$cor-primaria-fundo;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__body {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-grow: 1;
    }

    &__status {
        align-self: flex-start;
        padding: 0.4rem 1rem;
        font-size: 1.2rem;
        font-weight: 700;
        border-radius: 20px;
        background-color: v.$cor-secundaria-texto;
        color: v.$cor-secundaria-fundo;

        &-infos {
            display: flex;
            justify-content: space-between;
        }

        &--ativa {
            background-color: v.$cor-sucesso;
        }

        &-trimestre {
            background-color: v.$cor-primaria-fundo;
            color: v.$cor-secundaria-texto;
            border: 1px solid #e5e7eb;

            // Quando a lição está ativa, o badge do trimestre também ganha destaque
            &.licao-card__status--ativa {
                background-color: color.scale(
                    v.$cor-primaria-itens,
                    $alpha: -90%
                );
                color: v.$cor-primaria-itens;
                border-color: color.scale(v.$cor-primaria-itens, $alpha: -70%);
            }
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 700;
        color: v.$cor-primaria-texto;
        flex-grow: 1;
        margin-bottom: 1rem;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        color: v.$cor-secundaria-texto;
    }

    &__info-item {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }
}
